@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth;
  transition: scroll-top 0.2s;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.element::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root:has(.no-doc-scroll) {
  max-height: 100vh;
  max-height: 100svh;
  overflow: hidden;
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
  min-height: 100lvh;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
  body {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.fixed {
  max-height: 100vh;
  max-height: 100svh;
  overflow: hidden;
}
