@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0b151c;
  --background-start-rgb: #f2f7fb;
  --background-end-rgb: #f2f7fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0b151c;
    --background-start-rgb: #f2f7fb;
    --background-end-rgb: #f2f7fb;
  }
}

body {
  scroll-behavior: smooth;
  transition: scroll-top 0.2s;
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
  min-height: 100%;
}

html {
  height: 100%;
}

@layer utilities {
  .h-safe-screen {
    height: 100vh;
    height: 100svh;
    height: 100lvh;
  }

  .text-balance {
    text-wrap: balance;
  }
}

.min-safe-h-screen {
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100lvh;
}

@supports (-webkit-touch-callout: none) {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: -webkit-fill-available;
  }

  .h-safe-screen {
    height: -webkit-fill-available;
  }

  .min-safe-h-screen {
    min-height: -webkit-fill-available;
  }
}

html.fixed {
  max-height: 100vh;
  max-height: 100svh;
}
