@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0b151c;
  --background-start-rgb: #f2f7fb;
  --background-end-rgb: #f2f7fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0b151c;
    --background-start-rgb: #f2f7fb;
    --background-end-rgb: #f2f7fb;
  }
}

body {
  scroll-behavior: smooth;
  transition: scroll-top 0.2s;
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
  min-height: 100lvh;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
  body {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

html.fixed {
  max-height: 100vh;
  max-height: 100svh;
}
